body {
}
#card {
  background-image: url("imgs/token.png");
  width: 350px;
  border: 10px solid rgba(41, 42, 107, 0.658);
  border-radius: 5px;
}
.name,
.tabby_img,
.info {
  margin-left: 20px;
}
.name {
  width: 305px;
  border: 2px solid rgb(176, 173, 185);
  border-bottom: 2px solid rgb(53, 52, 56);
  padding-left: 2px;
}
.tabby_img {
  width: 300px;
  border: 5px solid rgba(41, 42, 107, 0.658);
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgb(61, 60, 65);
}
.info {
  border: 5px solid rgb(128, 102, 72);
  padding: 10px;
  width: 280px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgb(45, 44, 48);
  background-color: rgb(208, 214, 182);
}
.list_info {
  list-style-type: none;
  padding: 0px;
}
